html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgb(238, 174, 202);
  background: linear-gradient(
    180deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  /* color: white; */
}

#main {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
#app {
  width: 100%;
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.MuiCard-root {
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.MuiCard-root img {
  width: 250px;
  height: 200px;
  object-position: top;
  object-fit: cover;
}
.MuiCard-root .info-controls {
  width: 350px;
  padding: 0 1rem;
}
.MuiCard-root .progress {
  margin: 0.5rem 0;
}
.MuiCollapse-root {
  width: 300px;
}
.votes {
  font-size: 0.9rem;
  font-weight: 600;
}
@media only screen and (max-width: 768px) {
  .MuiCard-root {
    margin: 0 auto;
  }
  .img-container {
    width: 100%;
    padding: 1rem 0;
  }
  .MuiCard-root img {
    width: 250px;
  }
  .MuiCard-root .info-controls {
    width: 100%;
    padding: 0 1rem;
  }
}
